@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url("../font/material/MaterialIcons-Regular.woff2") format("woff2"), url("../font/material/MaterialIcons-Regular.woff") format("woff"), url("../font/material/MaterialIcons-Regular.ttf") format("truetype"), url("../font/material/MaterialIcons-Regular.svg#MaterialIcons-Regular") format("svg");
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}



