h1.titulo{
	text-transform: uppercase;
    font-size: 16px;
    font-weight: bolder;
    background-color: white;
    font-family: "Calibri Regular", Sans-Serif;
    /*margin: 0.67em 0;*/
    margin-bottom: 2px;
    margin-top: 0;
    padding-top: 18px;
    padding-bottom: 18px;
    text-align: left;
    padding-left: 30px;
}

.cprimario{

	color: #2D174C;

}

section {
    padding: 30px 50px;
    padding-top: 15px !important;
    height: 250px;
    margin-right: 0px;
    background-color: #fff;
}
h1.titulo img {
    vertical-align: middle;

}
.imgContra{
    background: url(password_ico.png) no-repeat 220px 6px;
    vertical-align: middle;
}
.textContra{
    height: 26px;
    width: 233px;
    background-color: #EFEDF3 !important;
    font-size: 12px;
    margin-top: 20px;
}
.btn{
    color: #ffffff;
    border-radius: 5px;
    border: none;
    background-color: #0AA8C3;
    padding: 10px 30px 10px 30px;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 12px;
    width: 245px;
}
.btn:hover{
    background-color: #5CC4D6;
}