body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
.header{
    height: 70px;
    background-color: white;    
    background-repeat: no-repeat;
}
.nav{
    height: 33px;
    background-color: #_000042;
    color: white; 
    font-weight: bold; 
    font-size: 1.2em;
    overflow: hidden;
}
.nav div{
    display: block; float: right; 
}
.nav-menu{

}
.nav-menu a{
    display: block;
    background-color: #38ac00_;
    padding: 5px 20px;
    color: silver;
    text-decoration: none;
}
.nav-menu a:hover{
    background-color: #_FC0;
}
.nav-menu .nav-menu-on{
    background-color: #_FC0;
}
.content{
    background-image: url(../img/fondo_body.png);
    background-repeat: repeat;
    height: 600px;
    padding: 24px;
}
.content-opciones{
    float: left; padding: 24px 10px; width: 220px;
}
.content-opciones div{
    padding: 6px;
}
.content-opciones div a{
    display: block;
    border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
    background-color: #019593;
    padding: 5px 12px;
    color: white;
    font-weight: bold;
    font-size: 1.4em;
    text-decoration: none;
}
.content-seccion{
    float: left; padding: 12px; width: 700px; height: 450px;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    background-color: white;
}

.boton-default {
    padding: 4px 12px;
    background: #3ac803;
    color: white;
    font-size: 1.2em;
    border: 0;
    text-decoration: none;
}
.boton-default:hover{
    background: #f19700;
    cursor: pointer;
}
.form-msj{
    color: orangered;
}
.tabla-login{
    border: 0;
    padding: 34px;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
    background: rgba(239,148,8,0.7);
}

.tabla-login td{
    border: 0;
    padding: 6px;
}

.tabla-simple{
    padding: 12px;
    background-color: white;
    width: 90%;
}
tabla-simple tr{
    margin-top: 3px;
}
.tabla-simple thead th{
    background-color: gray;
    color: white;
    font-weight: bold;
    padding: 4px 12px;
}
.tabla-simple tbody td{
    background-color: #f2f2f1;
    padding: 4px 12px;
}
.tabla-simple tbody td a{
    color: blue;
    padding: 2px 6px;
    text-decoration: none;
}
.tabla-simple tbody td a:hover{
    text-decoration: underline;
}

input{
    padding: 4px 8px;
    min-width: 100px;
}
.boton{
    
}

h1{
  padding-left: 42px;
  color: #666;
}

.footer{
    display: block;
    height: 10px;
    background-color: #f19700;
    color: white;
    text-align: center;
    font-weight: bold; 
    font-size: 0.6em;
    overflow: hidden;
}