header{
    position: fixed;
    z-index: 1;
    width: 100%;
}

main{
    padding-left: 240px;
}

iframe{
    margin-top: 60px;
    /*padding-bottom: 30px;*/
    margin-bottom: 50px;
}

footer{
    background: #133148 !important;
    position: fixed;
    z-index: 2;
    width: 100%;
    bottom: 0;
}

footer .row{
    margin-bottom: 0;
}

footer .row p{
    margin: 8px;
    font-size: 13px;
    color: white;
}

.menu{
    margin-top:64px;
}

.titulo{
    padding-left : 10px !important;
}

.imgDocente{
    margin-left: 30px;
    height: 64px;
    margin-top: 0.1%;
}

nav ul.side-nav a:hover {
    background-color: transparent;
}

.side-nav li:hover{
    background: rgba(255,167,0,0.85);
}

.side-nav li.active{
    background: rgba(255, 129, 0, 0.85);
}

.side-nav li a{
    color: black !important;
}

nav{
    background: rgb(40, 45, 36) !important;
}


.dropdown-content li a{
    color: black;
}

.dropdown-content li:hover{
    background: rgba(255,167,0,0.85);
}

.options:hover{
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    overflow: hidden !important;
    transform: rotate(360deg);
    transition: transform 2s;
}

.contenido{
    width:100%;
    height: 100%;
    border:0px solid transparent;
    /*overflow-y: hidden;*/
}

#lnkCerrar:hover{
    background: #d32f2f;
}

#lnkCerrar:hover a{
    color: white !important;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
  
  header{
      position: initial;
      width: 100%;
      z-index: 4;
  }
  
  #sidenav-overlay{
      z-index: 3;
  }
  
  .menu, iframe{
    margin-top: 0px;
  }
  
}
      