.recurso img{
    width: 30px;
    margin-top: -20px;
}

.recurso{
    width: 280px;
    height: 60px;
    margin-right: 20px;
}

.fila>div{
    display: inline-block;
}

.fila{
    margin-top: 20px;    
}

.recurso>div>span.titulo{
    width: 250px;
}
.recurso>div{
    width: 240px;
}

.botones{
    width: 245px;
}

.botones>button{
    display: inline-block;
    padding: 10px 25px 5px 25px;
}

.ml15{
    margin-left: 15px;
}