

body{
	background: url(Landing_JEC-Estudiante-Bg.png);
	background-size: cover;
	background-repeat: no-repeat;
	font-family: "Arial";
    /* font-size:14px;*/
}

/*********************************/
/* Agregarle una franja como header en la parte superior de la web*/
header{

	background: #fff;
	height: 80px;
	background-size: 25%;
	
}

header img{
    margin-top: 8px;
}

.borderFrame{     
/*********************************/   
/* Agregarle un color de fondo transparente a la columna del menú*/
text-align: left;
margin-left: 50px;
margin-right: 50px;
}

.blancoNegrita{    
    color: white;
    font-weight: bold;
}

.menuprincipal{
   
/*********************************/   
/* Agregarle un color de fondo transparente a la columna del menú*/
background: rgba(37,141,200,0.7);
	height: 700px;

}
.styloButtonCabecera{
    border-color: #0D91C5;
    border-width: 2px;
    border-style: solid;
    background: #0D91C5; 
    width: 95px;
    height: 30px;    
    border-radius: .45em;
    color: white;
    font-weight: bold;
}

.styleBoton{
    border-color: #0D91C5;
    border-width: 2px;
    border-style: solid;
    background: #1A4971;
    color: white;
    font-weight: bold;
    width: 95px;
    height: 30px;    
    border-radius: .45em;
}

/***********************************/
/* Dimensionar el tamaño de los menús,que alcance hasta los extremos*/
.col-md-2{
   padding-left: 0px;
   padding-right: 0px;
}

/*********************************/
/* Modificar el color de los items,y los bordes de los elementos del menú*/
.nav-pills>li>a{
	
	color:#fff;

	border-radius:2px;
	/*box-shadow: 1px 1px 1px 1px #0000FF;*/
	border-bottom:2px solid rgb(63,76,107);
}


.nav-stacked>li{
	 margin-left:0px;
}


/*******************************************************************/
/******** Colores de los items seleccionados del menú ***/
.nav>li.item1 a:hover,.nav>li.item1 a:focus{
 background: #DAA520;      /*Naranja*/
}

.nav>li.item2 a:hover,.nav>li.item2 a:focus{
 background: #00BFFF;      /*Celeste*/
}

.nav>li.item3 a:hover,.nav>li.item3 a:focus{
 background: #DB7093;      /*Rosado*/
}

.nav>li.item4 a:hover,.nav>li.item4 a:focus{
 background: #DAA520;
}

.nav>li.item5 a:hover,.nav>li.item5 a:focus{
 background: #00BFFF;
}

.nav>li.item6 a:hover,.nav>li.item6 a:focus{
 background: #DB7093;
}

.nav>li.item7 a:hover,.nav>li.item7 a:focus{
 background: #DAA520;
}




/**************************************************************************/
/*Lograr que los cambios ocupen todo el ancho de la columna*/
.col-md-10{
   padding-left: 0px;
   padding-right: 0px;
}


/************Color de fondo transparente del contenido del menú*************/
.menucontenido{
   
   
background:   rgba(136,191,232,0.5);
	height: 700px;
  
}

/***************Barra de botones contenido en un form****************/
form{
	height:37px;

}


.form-inline{
	background:  	#FF6347;
}

/**********Modificando la barra de menús*********************/
/**Botones****/
.btn-inicio,
.btn-inicio:hover,
.btn-inicio:active{
	background: #258dc8;
    color:#fff;
    border-radius: 8px;
    height: 30px;
    width: 170px;
    margin-top:2px;
    margin-bottom: 2px;
    margin-left: 5px;
    margin-right: 5px;
}

.btn-compartirpantalla,
.btn-compartirpantalla:hover,
.btn-compartirpantalla:active{
	
background:#FF8C00; 
    color:#fff;
    border-radius: 8px;
    height: 30px;
    width: 170px;
    margin-top:2px;
    margin-bottom: 2px;
    margin-left: 5px;
    margin-right: 5px;
}

.btn-cerrarsesion,
.btn-cerrarsesion:hover,
.btn-cerrarsesion:active{
	background: #ff3019;
    color:#fff;
    border-radius: 8px;
    height: 30px;
    width: 170px;
    margin-top:2px;
    margin-bottom: 2px;
    margin-left: 5px;
    margin-right: 5px;
}
/**************************************************************************************
******************AQUI VIENE LAS MODIFICACIONES DEL CONTENIDO DEL MENU*****************
***************************************************************************************/

.barraestudiante{
   
  width: 100%;
  height: 100px;
}

.contenidomenu{
    width: 600px;
    height:600px;
    margin-top:50px;
}




