.aplicacion img{
    width: 30px;
    margin-top: -20px;
}

.aplicacion{
    width: 280px;
    height: 50px;
    margin-right: 20px;
}

.fila>div{
    display: inline-block;
}

.fila{
    margin-top: 20px;    
}

.aplicacion>div>span.titulo{
    width: 250px;
}

.aplicacion>div{
    width: 240px;
}

.botones{
    width: 245px; 
}
.botones>button{
    display: inline-block;
}

.btnJec{
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.ml15{
    margin-left: 15px;
}