#datosClase>div{
    display: block;
    padding: 15px 0 8px 0;
    width: 340px;
}

div.bbd span{
    display: inline-block;
    text-transform: uppercase;
}

div.bbd span.cprimario{
    width: 62px;
}
