html{
    overflow-y: hidden;
}

body{
    background-color: white;
}

header{
    padding-top: 10px;
    padding-left: 30px;
    border-bottom: 2px solid #F2F0F5;
    background-color: #fff;
}

main{
    padding: 30px 50px;
    padding-top: 15px !important;
    height: 250px;
    overflow-y: auto;
    margin-right: 15px;
}

::-webkit-scrollbar {
    width: 6px;
    background-color: #EFEDF3;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 #9681B2; 
/*    -webkit-border-radius: 10px;
    border-radius: 10px;*/
}

::-webkit-scrollbar-thumb {
/*    -webkit-border-radius: 10px;
    border-radius: 10px;*/
    background: #9681B2;
    -webkit-box-shadow: inset 0 0 6px #9681B2; 
}

::-webkit-scrollbar-thumb:window-inactive {
    background: #9681B2;
}

h1.titulo{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bolder;
}

h1.titulo img{
    vertical-align: middle;
}

.mayuscula{
    text-transform: uppercase;
}

.bold{
    font-weight: bold;
}

.cprimario{
    color: #2D174C;
   
}
.cprimariod{
    color: #2D174C;
    /*background-image: url("bienvenido_morado_ico.png") no-repeat ;*/
}
.cprimariod:before{
    content: url('bienvenido_morado_ico.png');
    /*background-color: yellow;*/
    position: relative;
    display:inline-block;
    width: 20px;
    height: 30px;
    vertical-align: middle;
    padding-top: 10px;
}

.cprimariob{
    color: #2D174C;
}

.cprimariob:before{
    content: url('biblioteca_morado_ico.png');
    position: relative;
    display:inline-block;
    width: 20px;
    height: 10px;
    vertical-align: middle;
    padding-bottom: 8px;
}

.cprimarioa{
    color: #2D174C;
}

.cprimarioa:before{
    content: url('aplicaciones_morado_ico.png');
    position: relative;
    display:inline-block;
    width: 20px;
    height: 10px;
    vertical-align: middle;
    padding-bottom: 8px;
}

.cprimarioc{
    color: #2D174C;
}
.cprimarioc:before{
    content: url('cuestionario_morado_ico.png');
    position: relative;
    display:inline-block;
    width: 20px;
    height: 10px;
    vertical-align: middle;
    padding-bottom: 12px;
}
.cprimariocontrasena{
   color: #2D174B !important ;
   font-family: "calibri" !important;

}
.cprimariocontrasena:before{
    content: url('contra_morado_ico.png');
    position: relative;
    display:inline-block;
    width: 20px;
    height: 10px;
    vertical-align: middle;
    padding-bottom: 12px;
}

.bprimario{
    background-color: #2D174C;
}

.bsecundario{
    background-color: #EFEDF3;
    font-size: 12px !important;
}

.bbd{
    border-bottom: 1px dotted #2D174C;
}

label{
    text-transform: uppercase;
    font-weight: bold;
    display: block;
}

select{
    padding: 10px 15px 5px;
    background: url(../../../img/icons/triangulo_ico.png) no-repeat 100% 11px;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    display: block;
    border: none;
}

button:disabled, a:disabled{
    background-color: #eee;
    cursor: auto;
}

.center{
    text-align: center;
}

.btnJec{
    color: #ffffff;
    border-radius: 4px;
    border: none;
    padding: 10px 30px 5px 30px;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 13px;
}

.btnJecSecundario{
    background-color: white;
    border-radius: 4px;
    border: 2px solid transparent;
    padding: 10px 15px 5px 15px;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 13px;
}

.borPrimario{
    border-color: #2D174C !important;
}

.hide{
    display: none !important;
}

.mr30{
    margin-right: 30px;
}

.block{
    display: block;
}

.iblock{
    display: inline-block;
}

.va{
    vertical-align: middle;
}

.capitalize{
    text-transform: capitalize;
}

.hideOver{
    overflow: hidden;
}

.hoverc:hover{
    color: #9681B2;
}

.hoverb:hover{
    background-color: #9681B2 !important;
}

.input_nombre_cuestionario{
    border-bottom: 0;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    background-color: #EEECF2;
    width: 400px;
    height: 30px;
}

.input_pregunta_cuestionario{
    border-bottom: 1px dotted #2D174C;
    border-top: 0;
    width: 70%;
    height: 25px;
    border-left: 0;
    border-right: 0;
}