.classInputPlomo{
     /*background: url(images/comment-author.gif) no-repeat scroll 7px 7px;*/
  padding-left:10px !important;
  border: 1px solid rgba(199, 193, 170, 0.19) !important;
  background-color: rgba(109, 104, 86, 0.19) !important;
  box-shadow: none !important;
  color: black !important;

  
}

.input:focus,input:active{
    border-bottom: none;
    border: 1px solid rgba(53, 52, 47, 0.19) !important;
}

button:focus {
    background-color: #2E0838 !important;
}

input::-webkit-input-placeholder,textarea::-webkit-input-placeholder {
    color: #928E8E !important;
}

input:-moz-placeholder,textarea:-moz-placeholder {
    color: #928E8E !important;
}

input::-moz-placeholder,textarea::-moz-placeholder {
    color: #928E8E !important;
}

input::-ms-input-placeholder,textarea:-ms-input-placeholder {
    color: #928E8E !important;
}

body{
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    overflow-y: hidden;
}

.vertical{
    vertical-align: middle;
}
/*
hr{
    border: 1px solid rgb(46, 8, 56);
}*/

/*
h1,h2,h3,h4,h5,h6{
    color: rgb(46, 8, 56);
    font-weight: 300;
    letter-spacing: 0.7px;
}
*/
label {
    font-size: 0.9rem;
    color: rgba(107, 63, 63, 0.79);
    margin-left: 2px;
}

#modal1{
    border-top: 1px solid teal;
}

i.prefix{
    color: rgba(107, 63, 63, 0.79);
}

.sinPadLat{
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.file-field{
    padding: 0 0.75rem;
}

.marBot40{
    margin-bottom: 40px;
}

.marBot20{
    margin-bottom: 20px;
}

.marTop5{
    margin-top: 5px;
}

.marTop40{
    margin-top: 40px;
}

.mayus{
    text-transform: uppercase !important;
}

.capitalize{
    text-transform: capitalize !important;
}

.bold{
    font-weight: bold;
}

.tabs .tab a{
    color : #00963E !important;
}

.tabs .tab a:hover {
    color: gray !important;
}

.tabs .indicator{
    background-color: #00963E !important;
}
.colorMorado {
    background-color: #2E0838;
        border-radius: 8px;
}
.colorMoradoHR{
     border: 1px solid rgb(46, 8, 56);
}

.colorMoradoTexto{
    color: rgb(46, 8, 56);
    font-weight: 500;
    letter-spacing: 0.7px;
}
.colorCeleste {
    background-color: rgb(67, 193, 226);
    /*background-color: rgb(38, 145, 173);*/
}

.colorCelesteHR{
     border: 1px solid rgb(67, 193, 226);
}

.colorCelesteTexto{
    color: rgb(67, 193, 226);
    font-weight: 500;
    letter-spacing: 0.7px;
}

.centradoYColorSection{
    margin-top: 50px;
    margin-left: 50px;
    margin-right:  50px;
    background-color: white;
}
.primerDivCentrado{
        margin-left: 40px;
        margin-right: 40px;
}
.styleBotonCancelar{
    color: #2E0838;
    background-color: #FFFFFF !important;
    border-color: #2E0838;
    border-radius: 8px;
    border-style: solid;
}
@media only screen and (max-width : 992px) {
  .titulo{
    text-align: center;
  }
}

.redondeado{
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.iconTilleStyle{
    float: left;
    margin-top: 0.82rem;
    margin-right: 0px;
    margin-bottom: 0.656rem;
    margin-left: -35px;

}
