html{
    overflow-y: hidden;
}

body{
    background-color: white;
}

header{
    padding-top: 10px;
    padding-left: 30px;
    border-bottom: 2px solid #F2F0F5;
    background-color: #fff;
}

main{
    padding: 30px;
    padding-top: 15px !important;
    height: 250px;
    overflow-y: auto;
    margin-right: 15px;
}

::-webkit-scrollbar {
    width: 6px;
    background-color: #ADE1EA;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 #0AA8C3; 
    /*-webkit-border-radius: 10px;*/
    /*border-radius: 10px;*/
}

::-webkit-scrollbar-thumb {
    /*-webkit-border-radius: 10px;*/
    /*border-radius: 10px;*/
    background: #0AA8C3;
    -webkit-box-shadow: inset 0 0 6px #0AA8C3; 
}

::-webkit-scrollbar-thumb:window-inactive {
    background: #0AA8C3;
}

h1.titulo{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bolder;
}

h1.titulo img{
    vertical-align: middle;
}

.mayuscula{
    text-transform: uppercase;
}

.bold{
    font-weight: bold;
}

.cprimario{
    color: #0AA8C3;
    
}

.cprimariod{
    color: #0AA8C3;
    /*background-image: url("bienvenido_morado_ico.png") no-repeat ;*/
}
.cprimariod:before{
    content: url('bienvenido_celeste_ico.png');
    /*background-color: yellow;*/
    position: relative;
    display:inline-block;
    width: 20px;
    height: 30px;
    vertical-align: middle;
    padding-top: 10px;
}
.cprimariob{
    color: #0AA8C3;
}

.cprimariob:before{
    content: url('biblioteca_celeste_ico.png');
    position: relative;
    display:inline-block;
    width: 20px;
    height: 10px;
    vertical-align: middle;
    padding-bottom: 8px;
}

.cprimarioa{
    color: #0AA8C3;

}
.cprimarioa:before{
    content: url('aplicaciones_celeste_ico.png');
    position: relative;
    display:inline-block;
    width: 20px;
    height: 10px;
    vertical-align: middle;
    padding-bottom: 8px;
}

.cprimarioc{
    color: #0AA8C3;
}
.cprimarioc:before{
    content: url('cuestionario_celeste_ico.png');
    position: relative;
    display:inline-block;
    width: 20px;
    height: 10px;
    vertical-align: middle;
    padding-bottom: 12px;
}

.cprimariochat{
    color: red;
}

.cprimariochat:before{
    content: url('chat_celeste.png');
    position: relative;
    display:inline-block;
    width: 20px;
    height: 10px;
    vertical-align: middle;
    padding-bottom: 12px;
}
.cprimariocontrasena{
   color: #0AA8C3 !important ;
   font-family: "calibri" !important;

}
.cprimariocontrasena:before{
    content: url('contra_celeste_ico.png');
    position: relative;
    display:inline-block;
    width: 20px;
    height: 10px;
    vertical-align: middle;
    padding-bottom: 12px;
}

.bprimario{
    background-color: #0AA8C3;
}

.bsecundario{
    background-color: #EFEDF3;
}

.bbd{
    border-bottom: 1px dotted #2D174C;
}

label{
    text-transform: uppercase;
    font-weight: bold;
    display: block;
}

select{
    padding: 10px 15px 5px;
    background: url(../../../img/icons/triangulo_ico.png) no-repeat 96% 11px;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    display: block;
    border: none;
}

button:disabled, a:disabled{
    background-color: #eee;
    cursor: auto;
}

.center{
    text-align: center;
}

.btnJec{
    color: #ffffff;
    border-radius: 4px;
    border: none;
    padding: 10px 30px 5px 30px;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 13px;
}

.btnJecSecundario{
    background-color: white;
    border-radius: 4px;
    border: 2px solid transparent;
    padding: 10px 15px 5px 15px;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 13px;
}

.borPrimario{
    border-color: #0AA8C3 !important;
}

.hide{
    display: none !important;
}

.mr30{
    margin-right: 30px;
}

.block{
    display: block;
}

.iblock{
    display: inline-block;
}

.va{
    vertical-align: middle;
}

.capitalize{
    text-transform: capitalize;
}

.hideOver{
    overflow: hidden;
}

.hoverc:hover{
    color: #78BDD0;
}

.hoverb:hover{
    background-color: #78BDD0 !important;
}