@font-face {
  font-family: "Calibri Regular";
  font-style: normal;
  src: url("../../font/calibri/calibre-regular.woff") format("woff"), url("../../font/calibri/calibre-regular.ttf") format("truetype");
}

html,body,header,footer,main,p,h1,h2,h3,h4,h5,h6,a,span,textarea,input,button,select,option,li,thead,tbody,th,td,tr{
    font-family: "Calibri Regular"
}

html,body,header,footer,main,p,a,span,textarea,input,button,select,option,li,thead,tbody,th,td,tr{
    font-size: 14px;
}

