html, body {
    height: 100%;
    margin: 0;
    overflow-y: hidden;
}
header{
    /*height: 12%;
    min-height: 82px;
    max-height: 82px;*/
    height: 82px;
    background-color: #ffffff;
}

main {
    height: 100%;
    width: 100%;
}

main > div#background {
    height: 92%;
    /*width: 100%;*/
    background-image: url(bg_login.png);
    background-size: cover;
    z-index: -1;
    background-position: center center;
}

#loginPanel{
    width: 425px;
    height: 480px;
    background-color: #ffffff;
    margin: 0 auto;
    text-align: center;
    border-radius: 4px;
}

#secLogoMinedu{
    width: 785px;
    margin: 0 auto;
}

.headerLineaMorado{
    border-top: 6px solid #3F1860 !important;
}

.pt65{
    padding-top: 65px;
}

.mt20{
    margin-top: 25px;
}

.pb35{
    padding-bottom: 35px;
}

.mb10{
    margin-bottom: 10px;
}

.mt5{
    margin-top: 5px;
}

.errorMsg{
    margin: 0px;
    height: 15px;
    margin: 5px 0;
}

#logoMinedu{
    height: 36px;
}

#logoJec{
    width: 160px;
    margin-top: 42px;
}

.borderLogo{
    border-bottom: 2px solid #fcfaf3;
}

.txtJec{
    background-color: #fcf8ee !important;
    height: 26px;
    width: 233px;
    color: #c5c4c1;
    padding: 9px 0px 9px 12px;
    border: 1px solid #fbf7ed;
    border-radius: 2px;
    font-weight: bold;
}

.btnJec{
    color: #ffffff;
    background-color: #2d174c;
    border-radius: 4px;
    width: 247px;
    border: 1px solid #a399b0;
    padding: 10px 0;
    font-weight: bold;
    cursor: pointer;
}

.grayscale {-webkit-filter: grayscale(100%); filter: grayscale(100%);}

.mayuscula{
    text-transform: uppercase;
}

#secForm{
    padding: 40px 90px 100px;
}

.morado{
    color: #4e3f67 !important;
}
.bold{
    font-weight: bolder;
}

.noVisible{
    visibility: hidden;
}

.imgUsuario{
    background: url(../../../img/icons/usuario_ico.png) no-repeat 220px 12px;
}

.imgPassword{
    background: url(../../../img/icons/password_ico.png) no-repeat 220px 12px;
}