/*body{
    background: url(bg_login.png);
    background-size: cover;
}*/

input{
  /*background: url(images/comment-author.gif) no-repeat scroll 7px 7px;*/
  padding-left:10px !important;
  border: 1px solid rgba(234, 209, 112, 0.19) !important;
  background-color: rgba(234, 209, 112, 0.19) !important;
  box-shadow: none !important;
}

.input:focus,input:active{
    border-bottom: none;
    border: 1px solid  rgb(234, 209, 112) !important;
}

input::-webkit-input-placeholder,textarea::-webkit-input-placeholder {
    color: #928E8E !important;
}

input:-moz-placeholder,textarea:-moz-placeholder {
    color: #928E8E !important;
}

input::-moz-placeholder,textarea::-moz-placeholder {
    color: #928E8E !important;
}

input::-ms-input-placeholder,textarea:-ms-input-placeholder {
    color: #928E8E !important;
}

.background{
    background-image: url(bg_login.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    z-index: -1;
}

section.cuerpo{
    height: 100%;
    display: table; 
    margin: auto;
}

div.contenido{
    height: 100%;
    display: table-cell; 
    vertical-align: middle;
    margin: 20%;
    background: rgba(255,167,0,0.85);
}

.login-form {
  width: 280px;  
}
.login-form-text{
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.8rem;
}
.profile-image-login{
  /*width: 100px;*/
  height: 100px !important;
}

.login-text {
  margin-top: -6px;
  margin-left: -6px !important;
}

/*----------------------------------------
    Pre Loader
------------------------------------------*/
#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}
#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 15px solid  transparent;
  border-top-color: red;
  -webkit-animation: spin 2s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  
  animation: spin 2s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */
  
  z-index: 1001;
}
#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 10px outset transparent;
  border-top-color: white;
  -webkit-animation: spin 3s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  
  animation: spin 3s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */
}
#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 5px outset transparent;
  border-top-color: red;
  -webkit-animation: spin 1.5s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  
  animation: spin 1.5s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    
    -ms-transform: rotate(0deg);
    /* IE 9 */
    
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    
    -ms-transform: rotate(360deg);
    /* IE 9 */
    
    transform: rotate(360deg);
    /* Firefox 16+, IE 10+, Opera */
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    
    -ms-transform: rotate(0deg);
    /* IE 9 */
    
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    
    -ms-transform: rotate(360deg);
    /* IE 9 */
    
    transform: rotate(360deg);
    /* Firefox 16+, IE 10+, Opera */
  }
}
#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  background: #212121;
  z-index: 1000;
  -webkit-transform: translateX(0);
  /* Chrome, Opera 15+, Safari 3.1+ */
  
  -ms-transform: translateX(0);
  /* IE 9 */
  
  transform: translateX(0);
  /* Firefox 16+, IE 10+, Opera */
}
#loader-wrapper .loader-section.section-left {
  left: 0;
}
#loader-wrapper .loader-section.section-right {
  right: 0;
}
/* Loaded */

.loaded #loader-wrapper .loader-section.section-left {
  -webkit-transform: translateX(-100%);
  /* Chrome, Opera 15+, Safari 3.1+ */
  
  -ms-transform: translateX(-100%);
  /* IE 9 */
  
  transform: translateX(-100%);
  /* Firefox 16+, IE 10+, Opera */
  
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}
.loaded #loader-wrapper .loader-section.section-right {
  -webkit-transform: translateX(100%);
  /* Chrome, Opera 15+, Safari 3.1+ */
  
  -ms-transform: translateX(100%);
  /* IE 9 */
  
  transform: translateX(100%);
  /* Firefox 16+, IE 10+, Opera */
  
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}
.loaded #loader {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.loaded #loader-wrapper {
  visibility: hidden;
  -webkit-transform: translateY(-100%);
  /* Chrome, Opera 15+, Safari 3.1+ */
  
  -ms-transform: translateY(-100%);
  /* IE 9 */
  
  transform: translateY(-100%);
  /* Firefox 16+, IE 10+, Opera */
  
  -webkit-transition: all 0.3s 1s ease-out;
  transition: all 0.3s 1s ease-out;
}

/*i.prefix{
    color: rgba(107, 63, 63, 0.79);
}

.input-field .prefix.active {
    color: rgba(107, 63, 63, 1) !important;
}

input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid rgba(107, 63, 63, 1) !important;
    box-shadow: none;
}

input[type=text]:focus:not([readonly]) + label, input[type=password]:focus:not([readonly]) + label, input[type=email]:focus:not([readonly]) + label, input[type=url]:focus:not([readonly]) + label, input[type=time]:focus:not([readonly]) + label, input[type=date]:focus:not([readonly]) + label, input[type=datetime-local]:focus:not([readonly]) + label, input[type=tel]:focus:not([readonly]) + label, input[type=number]:focus:not([readonly]) + label, input[type=search]:focus:not([readonly]) + label, textarea.materialize-textarea:focus:not([readonly]) + label {
    color: rgba(107, 63, 63, 1) !important;
}

.input-field label{
    color : unset;
}*/

label{
    color: rgba(107, 63, 63, 1) !important
}

.spinner-blue,
.spinner-blue-only {
  border-color: #79005E;
}

.spinner-green,
.spinner-green-only {
  border-color: #9A001E;
}

.spinner-yellow,
.spinner-yellow-only {
  border-color: #3B0470;
}

.spinner-red,
.spinner-red-only {
  border-color: #799E00;
}

.vertical{
    vertical-align: middle;
}

/*a.btn, a.btn:hover, a.btn-large, a.btn-large:hover{
    background-color: #799E00;
}

button.btn, button.btn:hover, button.btn-large, button.btn-large:hover{
    background-color: #799E00;
}*/



.color1{
    background-color: #79005E !important;
}

.color2{
    background-color: #9A001E !important;
}

.color3{
    background-color: #3B0470 !important;
}

.color4{
    background-color: #799E00 !important;
}

.color1-text{
    color: #79005E !important;
}

.color2-text{
    color: #9A001E !important;
}

.color3-text{
    color: #3B0470 !important;
}

.color4-text{
    color: #799E00 !important;
}

.marTop10{
    margin-top:10px;
}
.bold {
    font-weight: bold;
}

.marTop40 {
    margin-top:40px;
}

.marTop20 {
    margin-top:20px;
}

select.browser-default{
border-color: #799E00 !important;
}

.padLeft0 {
    padding-left: 0px !important;
}