iframe{
    border: none; 
    width: 100%;
    height: 355px;
}

.bold{
    font-weight: bold;
}

.red-text{
    color: red;
}

.green-text{
    color: green;
}

#listaConectados{
    width: 100%;
    border-collapse: collapse;
}

#listaConectados th{
    color: #2D174C;
    padding-bottom: 20px;
}

#listaConectados tbody{
    margin-top: 30px;
}

#listaConectados tbody td{
    text-align: center;
    padding: 15px 0 10px 0;
    border-bottom: 1px dotted #2D174C;
    margin-left: 5px;
}

#divOpciones{
    margin-bottom: 40px;
}

#divOpciones button:hover{
    background-color: #9681B2 !important;
}

#file {
    display: none;
}

.error {
    color: red;
    font-weight: bold;
}

.ok {
   color: teal;
   font-weight: bold;
}

#txtFilename {
    width: 300px;
}

#lblFile {
    width: 100px !important;
    margin-left: 15px;
    text-align: center;
}

#btnCancelar {
    margin-left: 348px;
    margin-top: 5px;
    width: 160px
}