.mr60{
    margin-right: 60px;
}

.mt10{
    margin-top: 10px;
}

.mt60{
    margin-top: 60px;
}

.pt10{
    padding-top: 10px;
}

.cmorado{
    color: #2E0838 !important;
}
.bmorado{
    background-color: #2E0838 !important;
}

.bmoradosuave{
    background-color: #b39ddb !important;
}

.btMoradoHeader{
    border-top: 6px solid #2E0838 !important;
}

.mayuscula{
    text-transform: uppercase !important;
}

.p20_0{
    padding: 20px 0 !important;
}

.p0{
    padding: 0 !important;
}
.m0{
    margin: 0 !important;
}

.bold{
    font-weight: bold;
}

.mb0{
    margin-bottom: 0 !important;
}

ul.menuLateral>li a{
    text-transform: uppercase !important;
    padding: 20px 0px;
    padding-left: 10%;
    color: #9e9e9e !important;
    cursor: pointer !important;
    display: block;
}

.pointer{
    cursor: pointer !important;
}

ul.menuLateral>li a:hover{
    background-color: #b39ddb !important;
    color: white !important;
}

ul.menuLateral>li img{
    margin-right: 10px;
}

.vmedio{
    vertical-align: middle !important;
}

.backgroundDocente{
    background-image: url(../../../../img/icons/docente_fondo2.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    z-index: -1;
}

ul.opciones{
    text-align: right !important;
}

ul.opciones>li{
    padding-right: 20px !important;
    display: inline-block;
    position: relative;
}

ul.opciones li ul.child{
    position: absolute;
    display: none;
}

ul.opciones li:hover ul.child{
    display: block;
}

ul.opciones>li a{
    color: #9e9e9e !important;
}

ul.opciones>li a:hover{
    color: #b39ddb !important;
    font-weight: bolder !important;
}

ul.child{
    width: 200px;
    text-align: center;
    right: -60px;
}

ul.child>li{
    padding: 10px;
    background-color: #eee !important;
}