html, body {
    height: 100%;
    margin: 0;
    overflow-y: hidden;
}
header{
    height: 82px;
    background-color: #ffffff;
}

main {
    height: 100%;
    width: 100%;
}

.hide{
    display: none;
}

#background{
    background-image: url(../../../../img/icons/docente_fondo2.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    z-index: -1;
}

#panelCentral{
    width: 1000px;
    height: 520px;
    background-color: #ffffff;
    margin: 0 auto;
    border-radius: 10px;
}

.headerLineaMorado{
    border-top: 6px solid #3F1860 !important;
}

.pt45{
    padding-top: 45px;
}

.pt20{
    padding-top: 20px;
}

.pl25{
    padding-left: 25px;
}

.pt10{
    padding-top: 10px;
}

#secLogoMinedu{
    margin: 0 auto;
    width: 1000px;
}

#logoMinedu{
    height: 45px;
    margin-bottom: 15px;
    margin-left: 60px;
}

#logoJec{
    width: 92px;
    margin-top: 12px;
    margin-left: 20px;
}

#ladoA{
    width: 250px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#ladoA>div{
    display: block;
}
#ladoB{
    width: 750px;
    height: 520px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    
}

#secDatos{
    background-color: #2D174B;
    height: 85px;
    border-top-left-radius: 10px;
}

#secDatos>div{
    color: white;
    display: inline-block;
    vertical-align: middle;
}

#secNombre span{
    display: block;
    margin-left: 10px;
}

.mayuscula{
    text-transform: uppercase;
}

#panelCentral > div{
    float: left;
}

.mt10{
    margin-top: 10px;
}

.bold{
    font-weight: bold;
}

ul.opciones{
    text-align: right !important;
    height: 100%;
    border-top-right-radius: 10px;
}

li{
    list-style-type: none;
}

a{
    text-decoration:none;
}

ul.opciones>li{
    display: inline-block;
    position: relative;
    height: 100%;
    vertical-align: top;
}

ul.opciones li ul.child{
    position: absolute;
    display: none;
}

ul.opciones li:hover ul.child{
    display: block;
}

ul.opciones>li a{
    color: #9e9e9e !important;
    display: block;
}

ul.opciones>li>a{
    padding: 0px 25px;
    padding-top: 30px !important;
    height: 55px;
}

ul.opciones>li>a:hover{
    background-color: #EDF2F5;
}

ul.opciones>li a:hover{
    color: #B4A9C8 !important;
    font-weight: bolder !important;
}

ul.child{
    width: 200px;
    text-align: center;
    right: -60px;
}

ul.child>li{
    padding: 10px;
    background-color: #EDF2F5 !important;
/*    margin-top: 3px;*/
    /*border-top: 2px solid #F2F0F5;*/
}

ul{
    padding: 0 !important;
    margin: 0 !important;
}
#secMenu ul li a{
    width: 250px;
    padding: 20px 0;
    background-color: #EDF2F5;
    color: #848588;
    display: block;
}

#secMenu ul li img{
    vertical-align: middle;
    margin-left: 50px;
    margin-right: 15px;
}

#secMenu ul li a:hover{
    background-color: #9681B1;
    color: #FBFAFC;
}

#secMenu{
    height: 435px;
    background-color: #EDF2F5;
    border-bottom-left-radius: 10px;
}

#secMenu ul li span{
    margin-left: 83px;
}

iframe{
    border: none; 
    width: 100%;
    height: 355px;
}

#secOpciones{
    height: 85px;
}

#secIframe{
    background-color: #EEECF2;
    height: 355px;
    border-bottom-right-radius: 10px;
    padding:40px;
}

.btnJec{
    color: #ffffff;
    border-radius: 4px;
    border: none;
    padding: 10px 30px 5px 30px;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
}

.cprimario{
    color: #2D174C;
}

.bprimario{
    background-color: #2D174C;
}

.imensaje{
    color: #2D174B;
    margin-bottom: 2px;
}
.imensaje:before{
    content:url('imensaje2.png');
    position: relative;
    display:inline-block;
    width: 20px;
    height: 30px;
    vertical-align: middle;
    padding-top: 10px;
    margin-right: 10px;
}

.cprimariod:before{
    content: url('bienvenido_morado_ico.png');
    /*background-color: yellow;*/
    position: relative;
    display:inline-block;
    width: 20px;
    height: 30px;
    vertical-align: middle;
    padding-top: 10px;
}

.mr30{
    margin-right: 30px;
}

.center{
    text-align: center;
    float: left;
    padding-left: 20px;
}

.block{
    display: block;
}

.iblock{
    display: inline-block;
}

#secOpciones #detalle{
    float: left;
    font-size: 18px;
    margin-left: 40px;
    margin-top: 30px;
}

#secOpciones .opciones{
    float: right;
}

input#mensaje{
    width: 90%;
}

#liBiblioteca a{
    background: url('../../../../img/icons/biblioteca_ico.png') no-repeat 22% 17px;
}

#liBiblioteca a:hover{
    background: url('../../../../img/icons/biblioteca_blanco_ico.png') no-repeat 22% 17px;
}

.liBibliotecaActive{
    background: url('../../../../img/icons/biblioteca_blanco_ico.png') no-repeat 22% 17px !important;
}

#liEstudiantes a{
    background: url('../../../../img/icons/estudiantes_ico.png') no-repeat 22% 17px;
}

#liEstudiantes a:hover{
    background: url('../../../../img/icons/estudiantes_blanco_ico.png') no-repeat 22% 17px;
}

.liEstudiantesActive{
    background: url('../../../../img/icons/estudiantes_blanco_ico.png') no-repeat 22% 17px !important;
}

#liAplicaciones a{
    background: url('../../../../img/icons/aplicaciones_ico.png') no-repeat 22% 17px;
}

#liAplicaciones a:hover{
    background: url('../../../../img/icons/aplicaciones_blanco_ico.png') no-repeat 22% 17px;
}

.liAplicacionesActive{
    background: url('../../../../img/icons/aplicaciones_blanco_ico.png') no-repeat 22% 17px !important;
}

#liCuestionario a{
    background: url('../../../../img/icons/cuestionario_ico.png') no-repeat 22% 17px;
}

#liCuestionario a:hover{
    background: url('../../../../img/icons/cuestionario_blanco_ico.png') no-repeat 22% 17px;
}

.liCuestionarioActive{
    background: url('../../../../img/icons/cuestionario_blanco_ico.png') no-repeat 22% 17px !important;
}

#liChat a{
    background: url('../../../../img/icons/chat_ico.png') no-repeat 22% 17px;
}

#liChat a:hover{
    background: url('../../../../img/icons/chat_blanco_ico.png') no-repeat 22% 17px;
}

.liChatActive{
    background: url('../../../../img/icons/chat_blanco_ico.png') no-repeat 22% 17px !important;
}

#liMonitoreo a{
    background: url('../../../../img/icons/monitoreo_ico.png') no-repeat 22% 17px;
}

#liMonitoreo a:hover{
    background: url('../../../../img/icons/monitoreo_blanco_ico.png') no-repeat 22% 17px;
}

.liMonitoreoActive{
    background: url('../../../../img/icons/monitoreo_blanco_ico.png') no-repeat 22% 17px !important;
}

.bMenu{
    background-color: #9681B1 !important;
    color: #FBFAFC !important;
}