button.btnJec{
    padding-left: 15px !important;
    padding-right: 15px !important;
}

thead tr{
    text-transform: uppercase;
    color: #2D174C;
    text-align: center;
}

#filas{
    margin-top: 30px;
}

#filas thead th, #filas tbody td{
    text-align: center;
}

#modalEnviarMensaje .botones{
    margin-top: 30px;
}