body{
	font-family: "Ubuntu Mono","arial";
	background: url(bg_login.png);
	background-position: center;
	 background-size: cover;
}




form{
	
	width: 360px;
	
	margin:50px auto;/*ancho,y largo de100px, y el auto es para centrarlo.*/
	
	
}



 form h1{

 	height:50px;
    
	text-align: center;
	background: #fff;
	color:#009ACE;
	
	font-weight: normal;
	font-size: 20px;
	
	margin:0 auto;

	border:2px #009ACE;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

form input{
	width: 360px;
	height: 35px;
	padding: 0 10px;
	margin: 10px auto;
	color:#009ACE;
}

form button{
	width: 135px;
	background: #009ACE;
	/*margin:0 auto;*/
	height: 50px;
    color:#fff;

    position:relative;
    left:110px;
}


.logoimagen{
	width: 200px;
	margin:20px auto;
}